<!DOCTYPE html>
<html>
  <head>
    <title>Tank Overflow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-green.min.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" async>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout">
      <div id="header"></div>
      <div id="demo">{{ cursor }}</div>
      <div id="info"> </div>
      <div id="npost"></div>
      <script type="text/javascript" src="{{ url_for('static', filename='script/configs.js')}}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='script/bundle.js') }}"></script>
    </div>
  </body>
</html>