extends main

block content
  | {% if type == 'new' %}
  form(action = '#', method = "post")
    h2 Title
    input(
      type = "text"
      name = "title"
      required
      )
    h2 Description
    input(
      type = "text"
      name = "des"
      required
      )
    br
    br
    input(
      type="submit"
      )
  | {% endif %}
  
  | {% if type == 'view' %}
  h2 you are looking at specific post no. {{ post_id }}
  | {% endif %}

  | {% if type == 'edit' %}
  h2 you are going to edit post no. {{ post_id }}
  | {% endif %}

  | {% if type == 'delete' %}
  h2 you are going to delete post no. {{ post_id }}
  | {% endif %}
  
