extends main

block content
  | {% if type == "new" %}
  h2 you can create a new project
  | {% elif type == "view" %}
  h2 you are looking at project no {{ proj_id }}
  | {% elif type == "edit" %}
  h2 you can now edit project no {{ proj_id }}
  | {% elif type == "delete" %}
  h2 you can now delete project no {{ proj_id }}
  | {% else %}
  h2 It's shows all the projects in this page
  | {% endif %}
